/********************************************************************
*                                                                   *
*  !!!HACK!!!: fix height of charts and add margin (fixes layout)   *
*                                                                   *
*********************************************************************/
.minichart-viz {
    margin-bottom: 20px;
    float: left;
    width: 170px;
    max-width: 170px;
    max-height: 120px;
}

.minichart-viz > label:nth-child(2) {
    height: 3.2ex;
}

div[id^=mini-chart-area],
div[id^=mini-chart-column],
div[id^=mini-chart-solidgauge],
div[id^=mini-chart-line] {
	border: 1px #ddd solid;
    margin-top: 10px;
    width: 154px !important;
    margin-left: 2px;
    height: 70px;
}