<!-- shameless copy paste of the core app.html modified to allow for extra routes and ui layout-->

<%inherit file="base.html"/>
<div class="preload generic-page-main">
	<div class="header">
		<div id="placeholder-splunk-bar">
			<a href="{{SPLUNKWEB_URL_PREFIX}}/app/launcher/home" class="brand" title="splunk &gt; listen to your data">splunk<strong>&gt;</strong></a>
		</div>
		<div id="placeholder-app-bar"></div>
	</div>
	<div id="app-main-layout">
		<div id="placeholder-main-section-body">${_('Loading...')}</div>
	</div>
	<div class="footer"></div>
</div>
