## if we include script/email/rss as part of this alert then

[email]
disabled = 0

[rss]
disabled = 0

[script]
disabled = 0

[snow_incident]
disabled = 0
type = external_ticket
execute_in_sync = 1
execute_once_per_group = 1

ticket_system_name = Service Now
relative_refresh_uri = /servicesNS/nobody/-/service_now_incident/snow_incident

correlation_key = correlation_id
* refresh URI now becomes
* /servicesNS/nobody/-/service_now_incident/snow_incident?correlation_id

correlation_value = $result.event_id$
* assuming we are dealing with a notable event whose event_id is `myevent1234`,
* the URI now becomes
* /servicesNS/nobody/-/service_now_incident/snow_incident?correlation_id=myevent1234
* final URI with output_mode
* /servicesNS/nobody/-/service_now_incident/snow_incident?correlation_id=myevent1234&output_mode=json
* if there is no `correlation_key` specified, the final URI will look like:
* /servicesNS/nobody/-/service_now_incident/snow_incident/myevent1234?output_mode=json

correlation_value_for_group = $result.itsi_group_id$
* When operating on a Notable Event group, we will use the value corresponding to `itsi_group_id`
* as the correlation_id. Similar to correlation_value mentioned above.

refresh_response_json_path = entry{0}.content
* assuming that the json response looks like the following:
*    {
*      ...
*      "entry": [
*        {
*          ...
*          "content": {
*            "number": "INC0047495",
*            "url": "https://abc.service-now.com/incident.do?sysparm_query=correlation_id=myevent1234",
*            ...
*          }
*        }
*      ],
*    ...
*    }
* ... the path value is indicative of how to extract the ticket_id and ticket_url

refresh_response_ticket_id_key = number
* after extracting the `blob` we are interested in, which looks like the following:
*    {
*      ...
*      "number": "INC0047495",
*      "url": "https://abc.service-now.com/incident.do?sysparm_query=correlation_id=myevent1234"
*    }
* `number` is the value we are interested in.

refresh_response_ticket_url_key = url
* after extracting the `blob` we are interested in, which looks like the following:
*    {
*      ...
*      "number": "INC0047495",
*      "url": "https://abc.service-now.com/incident.do?sysparm_query=correlation_id=myevent1234"
*    }
* `url` is the value we are interested in.
