<% import re %>

[install]
is_configured = 0

[launcher]
% if author:
author = ${author}
% endif
% if version:
version = ${version}
% endif
% if description:
description = ${re.sub("([\r\n]+)", "", description).strip()}
% endif

[ui]
is_visible = 0
label = ${title}

[package]
id = ${app_name}

[triggers]
reload.itsi_service_template = simple
reload.itsi_kpi_template = simple
reload.itsi_kpi_base_search = simple
