.context-link a {
    font-size: 16px;
    font-weight: normal;
}

.context-link label {
    font-size: 14px;
    font-weight: normal;
}

.entity-info {
    font-size: 12px;
    padding-left: 20px;
    margin-right: 15px;
    float: left;
    max-width: 250px;
}

.scrollable {
    overflow: auto;
}

.da-header-panel {
    float: left;
}

.dashboard-header {
    margin-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.dashboard-body {
    padding-left: 0px;
    padding-right: 0px;
}

#row1 .dashboard-panel {
    background-color: #eee;
}

#context {
    height: auto;
    display: block;
    overflow: hidden;
    position: relative;
}

#entity-context-panel-entity-info {
    margin-bottom: 45px;
    margin-left: 10px;
}

.minicharts {
    width: 60%;
    position: absolute;
    height: 100%;
    top: 0px;
    right: -4%;
}

#inventory-fields-modal {
    display: none;
}

#s2id_autogen3 > a > span.select2-arrow {
    margin-right: 10px;
}

#row1 .splunk-message-container .alert {
    margin-right: 55%;
    margin-bottom: 5%;
}

/********************************************************************************
 ***** This is taken from EntityDetailView to support dynamic field display *****
 ********************************************************************************/
.wrapped-layout {
    flex-flow: column wrap;
    flex-wrap: wrap;
    flex: 0 1 auto;
    position: relative;
    display: flex;
    height: 91px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    width: 50em;
}

.wrapped-item {
    display: inline-block;
    float: left;
    margin-right: 20px;
    position: relative;
    white-space: nowrap;
    width: 24em;
}

.wrapped-item span {
    float: left;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

.wrapped-item > span:first-child {
    width: 9em;
}

.wrapped-item > span:first-child:after {
    content: " ............................................";
}

.wrapped-item > span:nth-child(2) {
    content: " ............................................";
    max-width: 13em;
}

.wrapped-item span.scanning:first-child:after {
    content: "";
}

.wrapped-item.show-more-entity-info-wrapper {
    content: "";
}

/*********************************************************
*                                                        *
*  hack select2 dropdown to look like standard dropdown  *
*                                                        *
**********************************************************/
.select2-container .select2-choice .select2-arrow {
    border: 0 !important;
    background: none !important;
    box-shadow: none !important;
}

.select2-container .select2-choice .select2-arrow b {
    background: none !important;
}

.select2-container .select2-choice .select2-arrow b:before {
    font-family: "Splunk Icons";
    content: "\02C5";
    font-weight: normal;
    text-decoration: none;
    color: #666;
}

.splunk-dropdown .select2-container.select2-container-active {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
    .select2-search input,
    .select2-search-choice-close,
    .select2-container .select2-choice abbr,
    .select2-container .select2-choice .select2-arrow b {
        background-image: none !important;
    }
}

/* now make it look like a link */
#entity-context-panel-entity-picker div.select2-container a.select2-choice {
    border: none;
    box-shadow: none;
    background: none;
    color: #1e93c6;
    padding-left: 0px;
}

#entity-context-panel-entity-picker .select2-container .select2-choice .select2-arrow b:before {
    color: #1e93c6;
}

#entity-context-panel-entity-picker .select2-container {
    margin: 5px 0px 0px 1px;
}

/*
maintenance-mode
*/

.maintenance-mode-banner {
    border: 1px solid #5FB4DE;
    border-radius: 4px;
    background-color: #DFF0F8;
    color: #333;
    position: fixed;
    top: 90px;
    left: 0;
    right: 0;
    margin:0 auto;
    display: none;
}

.info-icon {
    display: inline-block;
    padding:0px 0px 0px 15px;
    color: #5FB4DE;
    font-size: 24px;
    transform: translateY(25%);
}

.maintenance-mode-banner-text {
    display: inline-block;
    padding: 0px 15px 0px 15px;
    font-size: 14px;
    line-height: 46px;
}

.close-btn {
    display: inline-block;
    color: #5FB4DE;
    font-size: 14px;
    padding:0px 15px 0px 0px;
    cursor: pointer;
}
