.context-link a {
    font-size: 16px;
    font-weight: normal;
}

.context-link label {
    font-size: 14px;
    font-weight: normal;
}

.entity-info {
    font-size: 12px;
    padding-left: 20px;
    margin-right: 15px;
    float: left;
    max-width: 250px;
}

.scrollable {
    overflow: auto;
}

.da-header-panel {
    float: left;
}

.dashboard-header {
    margin-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.dashboard-body {
    padding-left: 0px;
    padding-right: 0px;
}

#row1 .dashboard-panel {
    background-color: #eee;
}

#context {
    overflow: hidden;
    position: relative;
}

#entity-context-panel-entity-info {
    margin-bottom: 45px;
    margin-left: 10px;
}

#minicharts {
    width: 60%;
    position: absolute;
    height: 100%;
    top: 0px;
    right: -4%;
}

#inventory-fields-modal {
    display: none;
}

#s2id_autogen3 > a > span.select2-arrow {
    margin-right: 10px;
}

/********************************************************************************
 ***** This is taken from EntityDetailView to support dynamic field display *****
 ********************************************************************************/
.wrapped-layout {
	flex-flow: column wrap;
	flex-wrap: wrap;
	flex: 0 1 auto;
	position: relative;
	display: flex;
	height: 91px;
	padding-left: 0;
	padding-right: 0;
	padding-top: 10px;
	width: 50em;
}

.wrapped-item {
	display: inline-block;
	float: left;
	margin-right: 20px;
	position: relative;
	white-space: nowrap;
	width: 24em;
}

.wrapped-item span {
    float: left;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

.wrapped-item > span:first-child {
    width: 9em;
}

.wrapped-item > span:first-child:after {
    content: " ............................................";
}

.wrapped-item > span:nth-child(2) {
    content: " ............................................";
    max-width: 13em;
}

.wrapped-item span.scanning:first-child:after {
    content: "";
}

.wrapped-item.show-more-entity-info-wrapper {
    content: "";
}

/********************************************************************
*                                                                   *
*  !!!HACK!!!: fix height of charts and add margin (fixes layout)   *
*                                                                   *
*********************************************************************/
.minichart-viz {
    margin-bottom: 20px;
    float: left;
    width: 170px;
    max-width: 170px;
    max-height: 120px;
}

.minichart-viz > label:nth-child(2) {
    height: 3.2ex;
}

.highcharts-tooltip {
    visibility: visible;
}

div[id^=mini-chart-area] .highcharts-tooltip,
div[id^=mini-chart-column] .highcharts-tooltip,
div[id^=mini-chart-line] .highcharts-tooltip {
    visibility: hidden;
}

div[id^=mini-chart-area] .shared-reportvisualizer,
div[id^=mini-chart-column] .shared-reportvisualizer,
div[id^=mini-chart-line] .shared-reportvisualizer {
    margin-right: -2px;
    margin-top: -16px;
    margin-left: -37px;
    margin-right: -22px;
    width: 220px !important;  
}

div[id^=mini-chart-area],
div[id^=mini-chart-column],
div[id^=mini-chart-line] {
    height: 74px;
    border: 1px #ddd solid;
    margin-top: 8px;
    padding: 0;
    margin-right: -2px;
    width: 170px !important;
    transform: scale(.9,.9);
    margin-left: -7px;
}


div[id^=mini-chart-markerGauge] .shared-reportvisualizer {
    width: 208px !important;
    margin-left: -39px;
    transform: scale(.85,.85);
    -webkit-transform: scale(.85,.85);
    margin-top: 0px;
    background: white;
    border: 1px solid #ddd;
    height: 80px !important;
}

div[id^=mini-chart-markerGauge] {
    margin-top: 0px;
}

/*********************************************************
*                                                        *
*  hack select2 dropdown to look like standard dropdown  *
*                                                        *
**********************************************************/
.select2-container .select2-choice .select2-arrow {
    border: 0 !important;
    background: none !important;
    box-shadow: none !important;
}

.select2-container .select2-choice .select2-arrow b {
    background: none !important;
}

.select2-container .select2-choice .select2-arrow b:before {
    font-family: "Splunk Icons";
    content: "\02C5";
    font-weight: normal;
    text-decoration: none;
    color: #666;
}

.splunk-dropdown .select2-container.select2-container-active {
    -webkit-box-shadow: none !important;
       -moz-box-shadow: none !important;    
            box-shadow: none !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
    .select2-search input,
    .select2-search-choice-close,
    .select2-container .select2-choice abbr,
    .select2-container .select2-choice .select2-arrow b {
        background-image: none !important;
    }
}

/* now make it look like a link */
#entity-context-panel-entity-picker div.select2-container a.select2-choice {
    border: none;
    box-shadow: none;
    background: none;
    color: #1e93c6;
    padding-left: 0px;
}

#entity-context-panel-entity-picker .select2-container .select2-choice .select2-arrow b:before {
    color: #1e93c6;
}
